{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Units</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    {% comment %} <img src="{% static 'images/background.jpg' %}" alt="Description of image"> {% endcomment %}
    <script src="{% static 'js/event.js' %}"></script>
    
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-4">Units List</h1>
        <ul class="list-group">
            {% for unit in units %}
            <li class="list-group-item">{{ unit.name }} ({{ unit.code }})</li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-secondary mt-4" id="hover-button"style="background-color:rgb(10, 26, 21);">Back to Home</a>
    </div>
</body>

</html>