html, body {
    height: 100%;
    margin: 0;
}

body {
    /* background-image: url('{% static "images/background.jpg" %}'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-color: rgb(37, 37, 43);
}